# Output root folder
OUTPUT_BASE=\\<INTERNAL_SERVER>\f\<REPORT_FOLDER>\ALL_REPORT_GABUNGAN

# Data source folders
BASE_DIR_LEGACY=\\<INTERNAL_SERVER>\d\<DATA_FOLDER>\arsip_data
BASE_DIR_PARQUET=D:\<LOCAL_USER>\parquet_db

# Reference files
TABLE_REFERENCE_PATH=\\<INTERNAL_SERVER>\D\<USER_FOLDER>\references\Table_Reference.xlsx
PROJECT_REFERENCE_SOURCE_XLSX=\\<INTERNAL_SERVER>\<UPDATE_FOLDER>\Reference\Tabel_Reference.xlsx
PROJECT_REFERENCE_SHEET=ACC & SHIPPER GROUPING
PROJECT_REFERENCE_TARGET_CSV=./data/project_reference.csv
MANUALS_PATH=./data/manuals.csv
RT_REFERENCE_PATH=\\<INTERNAL_SERVER>\<UPDATE_FOLDER>\New_Query_Update_Status_RT.xlsx

# WhatsApp automation
WA_USER_DATA_DIR=C:\Users\<LOCAL_USER>\AppData\Local\Selenium
WA_PROFILE_DIRECTORY=Profile_X
WA_HEADLESS=true